/* $Id$ */
.biurnal-color-scheme-form .biurnal-farbtastic-placeholder
{
  float: right;
  margin-bottom: 6px;
}

.biurnal-color-scheme-form .form-item
{
  width: 95px;
  float: left;
}

.biurnal-color-scheme-form .form-item label
{
  line-height: 1em;
  height: 2em;
}

.biurnal-color-scheme-form #edit-backgrounds-dinby-wrapper {
  clear: left;
}
